::-webkit-scrollbar {
  width: 12px;
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 7px !important;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 1px;
  border-radius: 7px !important;
}

.vpd-column-content::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 1px;
  border-radius: 7px !important;
}
.copun-class {
  text-decoration: line-through rgb(255, 0, 0) !important;
}

.vpd-column-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 7px !important;
}

.overflow_h {
  overflow: hidden;
}

.opacity_input {
  opacity: 80%;
}

.opacity_input > .vpd-input-group {
  opacity: 80%;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.w-max {
  width: 100% !important;
}

.h-max {
  height: 100% !important;
}

.fit {
  padding: 0 !important;
  margin: 0 !important;
}

.pointer {
  cursor: pointer;
}

.center-div {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.center-div-align {
  display: flex;
  align-items: center;
}

.center-div-justify {
  display: flex;
  justify-content: center;
}

.end-justify {
  display: flex;
  justify-content: flex-end;
}

.end-align {
  display: flex;
  align-items: flex-end;
}

.ltr-item {
  direction: ltr !important;
}

.rtl-item {
  direction: rtl !important;
}

.v-btn {
  text-transform: none !important;
}

tr {
  white-space: nowrap;
}

.width-800 {
  width: 800px;
}

.v-btn__content {
  letter-spacing: 0 !important;
}

.small-input {
  margin: 0 !important;
  padding: 0 !important;
}

.small-input > .v-input__control {
  padding: 0;
  margin: 0;
}

.small-input > .v-input__control > .v-input__slot {
  padding: 0;
  margin: 0 !important;
}

.v-input__slot.backcolor > fieldset {
  border: 1px solid #dcdfe5 !important;
}

.small-input > .v-input__control > .v-messages {
  display: none;
}

.small-input > .v-input__control > .v-text-field__details {
  display: none;
}

.input-noborder > .v-input__control > .v-input__slot {
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
}

.input-noborder > .v-input__control > .v-input__slot > fieldset {
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
}

.small-input-only > .v-input__control > .v-text-field__details {
  display: none !important;
}

.bxr-red {
  box-shadow: 4px 0px 0px 0px #ff0303 !important;
}

.bx-success {
  box-shadow: 0px 0px 3px 1px #51b34e !important;
}

.bx-primary {
  box-shadow: 0px 0px 3px 1px #007bff !important;
}

.bx-error {
  box-shadow: 0px 0px 3px 1px #ff0000 !important;
}

.b-primary {
  border-radius: 7px;
  border: 1px solid #602eaa !important;
}

.bb-primary {
  border-bottom: 2px solid #51b34e !important;
}

.b-error {
  border: 1px solid #ff4342 !important;
}

.br-error {
  border-right: 1px solid #ff4342 !important;
}

.b-c2 {
  border: 1px solid #c2c2c2;
}

.border-none {
  border: none !important;
}

.border5 {
  border-radius: 5px !important;
}

table {
  border-radius: 5px !important;
}

.position_r {
  position: relative;
}

.place_item_center {
  place-items: center;
}

.align_self_center {
  align-self: center;
}

.odd-row {
  background-color: #eee;
}
.selected-row {
  background-color: #cbfade;
}

.print_table {
  width: 100%;
  text-align: right;
  border: 1px solid;
}

.print_table td {
  width: 33%;
  text-align: right;
  white-space: initial;
  padding: 9px !important;
  border: 0.3px solid;
}
.pmb-0 {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.pmt-0 {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.border-img {
  border: 3px solid rgb(245, 245, 245);
  border-radius: 50%;
}

.absolute-name {
  position: absolute;
  top: 32px;
  right: 26px;
}

.theme--light.v-input--is-disabled input,
.theme--light.v-input--is-disabled textarea {
  color: #5c5c5c !important;
}

.theme--light.v-select .v-select__selection--disabled {
  color: #5c5c5c !important;
}

.primary-border-bottom {
  border-bottom: 2px solid #fd5800 !important;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.green-border {
  border: 2px solid rgb(19, 219, 19) !important;
}

table {
  border-collapse: collapse;
}

.gray-border {
  border: 1px solid gray;
}

/* .dashboard-table > td {
  padding: 12px !important;
} */

table > tr > td:first-child {
  width: 200px;
  padding: 12px;
}

table > tr > td:nth-child(2) {
  width: 500px;
  padding: 12px;
}